@import url('../fonts/fonts.css');
@import url('https://fonts.googleapis.com/css?family=Roboto|Russo+One');

.header {
  background-color: #2d2d2d;
  text-align: left;

  &__title {
    margin: 0;
    padding-top: 20px;
    text-transform: uppercase;
    color: #fff;
    font-family: 'Russo One', sans-serif;
    font-size: 30px;
    text-indent: 10px;
  }

  &__title--new-font {
    font-family: 'Stalemate';
    font-size: 40px;
    color: #55b2f3;
  }

  &__nav {
    position: absolute;
    top: 25px;
  }

  &__btn {
    float: right;
    margin-right: 10px;
  }

  &__list {
    clear: both;
    text-align: center;
    width: 100vw;
    margin: 0;
    margin-top: 41px;
    padding: 0;
    list-style-type: none;
    background-color: #2d2d2d;
  }
  &__item {
    width: 100%;
    border-top: 1px solid gray;
  }

  &__item:last-child {
    border-bottom: 1px solid gray;
  }

  &__link {
    display: block;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
    color: #fff;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
    transition-property: all;
    transition-duration: .3s;
  }
  &__link:hover,&__link:focus {
    background-color: gray;
    color: #000;
  }
}
